dashboard {
    background: #f3f4f6;
    grid-area: main;
    overflow-y: auto;
}

.dashboard__container {
    padding: 10px 25px;
}

.dashboard__title{
    display: flex;
    align-items: center;
}

.dashboard__title > img {
    max-height: 100px;
    object-fit: contain;
    margin-right: 20px;
}

.dashboard__greeting > h1 {
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 1px;
}

.dashboard__greeting > p {
    font-size: 14px;
    font-weight: 700;
    color: #a5aaad;
}

.dashboard__greeting > p {
    font-size: 14px;
    font-weight: 700;
    color: #a5aaad;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70px;
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px 13 #ffffff;
}
.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 50px;
}
.charts__left {
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}
.charts__left__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.charts__left__title > div > h1 {
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;
}
.charts__left__title > div > p {
    font-size: 14px;
    font-weight: 700;
    color: #a5aaad;
}
.charts__left__title > i {
    color: #ffffff;
    font-size: 20px;
    background: #ffc100;
    border-radius: 200px 0px 200px 200px;
    -moz-border-radius: 200px 0px 200px 200px;
    -webkit-border-radius: 200px 0px 200px 200px;
    border: 0px solid #000000;
    padding: 15px;
}
.charts__right {
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}
.charts__right__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.charts__right__title > div > h1 {
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;
  }
.charts__right__title > div > p {
    font-size: 14px;
    font-weight: 700;
    color: #a5aaad;
}
.charts__right__title > i {
    color: #ffffff;
    font-size: 20px;
    background: #39447a;
    border-radius: 200px 0px 200px 200px;
    -moz-border-radius: 200px 0px 200px 200px;
    -webkit-border-radius: 200px 0px 200px 200px;
    border: 0px solid #000000;
    padding: 15px;
}
.charts__right__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}
.card1 {
    background: #d1ecf1;
    color: #35a4ba;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}
.card2 {
    background: #d2f9ee;
    color: #38e1b0;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}
.card3 {
    background: #d6d8d9;
    color: #3a3e41;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}
.card4 {
    background: #fddcdf;
    color: #f65a6f;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}
.card5 {
    background: #ff0015;
    color: #ffffff;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}
.card6 {
    background: #000000;
    color: #ffffff;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}
.card7 {
    background: #fddcdf;
    color: #000000;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}
.card8 {
    background: #75585b;
    color: #ffffff;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}
@media only screen and (max-width: 855px) {
.dashboard__cards {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 0;
}
.charts {
      grid-template-columns: 1fr;
      margin-top: 30px;
    }
}
